




/* @media(max-height:570px){
    .botton{
        bottom: -50%; 
    }
}


@media(max-width:600px){
    .botton{
        display: flex;
        position: absolute;
        bottom: -80%; 
    }
} */


