.container {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.citiesSelected {
    display: flex;

}

.contenido {
    width: 220px;
    height: 220px;
    border-radius: 29px;
    background: #fff;
    box-shadow:  5px 5px 17px #9c9c9c,
             -5px -5px 17px #cacaca;
    display: flex;
    flex-direction: column;
    margin: 15px;
}


@media screen and (max-width:500px) {
    .container {
        display: block;
    }
}

