.container {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.citiesSelected {
    display: flex;

}

.contenido {
    width: 250px;
    height: 250px;
    border-radius: 29px;
    background: #fff;
    box-shadow:  5px 5px 17px #9c9c9c,
             -5px -5px 17px #cacaca;
    display: flex;
    flex-direction: column;
    margin: 15px;
    justify-content: center;
    align-items: center;
}

.contenido * {
    padding: 5px;
    color: #1c0d02;
}

.buttMove {
    padding: 1.2em 0.45em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1c0d02;
}

.buttMove:hover {
    background-color: #17C3B2;
    transition: 1s ease;
}

@media screen and (max-width:500px) {
    .container {
        display: block;
    }
}

