  .navBar{
      background-color: #5dc1b9;
      display: flex;
      padding: 0.5em;
  }

  .modal a{
    text-decoration: none;
  }


  .navBarContenido{
      display: flex;
      text-decoration: none;    
      display: flex;
      width: 40%;
  }

  .about{
      text-decoration: none;    
      width: 50%;
      display: flex;
      margin: 0;
      justify-content: right;
      font-size:medium;
      font-weight: lighter;
  }

  a:hover{
      color: navy;
  }

  h4{
      font-size:medium !important;
      font-weight: lighter;
  }



    .modalContenido{
      background-color:#5dc1b9;
      width:300px;
      padding: 10px 20px;
      margin: 10% auto;
      position: relative;
    }

    .modalContenido h2{
      display: flex;
      font-size: large;
      padding:5% 5% 10% 5%;
    }
    
    .modalContenido p{
      display: flex;
      font-size: medium;
      padding: 2em;
    }


    .modal{
      background-color: rgba(0,0,0,.8);
      position:fixed;
      top:0;
      right:0;
      bottom:0;
      left:0;
      opacity:0;
      pointer-events:none;
      transition: all 1s;
      z-index: 2;

    }

    .modal:target{
      opacity:1;
      pointer-events:auto;
    }
