.app{
    font-family: Bookman, URW Bookman L, serif !important;
    background-image: url('../src/Assets/backgroundNube.png');
    width: 100%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}